body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    width: 100%; /* Asegura que el header ocupe el 100% del ancho */
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Permite que el título ocupe el espacio restante */
}

a {
    text-decoration: none;
}



button:hover {
    background-color: #256293;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 1.5rem; /* Tamaño de la fuente */
    padding: 1rem 2rem; /* Espaciado interno */
    margin: 1rem; /* Margen exterior */
    background-color: #2980b9; /* Color de fondo relacionado con el header */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
}
