body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

h2 {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 1.5rem; /* Tamaño de la fuente */
    padding: 1rem 2rem; /* Espaciado interno */
    margin: 1rem; /* Margen exterior */
    background-color: #2980b9; /* Color de fondo relacionado con el header */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
}

button:hover {
    background-color: #256293; /* Cambio de color al pasar el ratón, tono más oscuro */
}