body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    width: 100%; /* Asegura que el header ocupe el 100% del ancho */
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    display: inline-block;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

main {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.ul {
    background-color: #3498db;
    color: #4CAF50;
    text-align: left;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 600px;
}

.ul h2 {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

form {
    text-align: left;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas: una para el label y otra para los botones */
    gap: 10px; /* Espacio entre las columnas */
}

label {
    display: inline-block;
    margin-bottom: 5px;
    grid-column: span 2; /* El label abarca las dos columnas */
    max-width: 300px; /* Ancho máximo del label según tus preferencias */
}

.input-container {
    grid-column: span 2; /* El contenedor del input abarca las dos columnas */
}

input {
    width: 100%;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    grid-column: span 2; /* El contenedor de botones abarca las dos columnas */
}

.filter-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones de filtrar y limpiar filtro */
}

converse-profile-buttons {
    text-align: center;
}

button {
    font-size: 1.5rem; /* Tamaño de la fuente */
    padding: 1rem 2rem; /* Espaciado interno */
    margin: 1rem; /* Margen exterior */
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
}

button:hover {
    background-color: #333;
}

/* Estilo específico para las publicaciones en una lista no ordenada */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #000; /* Borde blanco alrededor de cada publicación */
}

.content {
    width: 70%;
}

.sidebar {
    width: 25%;
    position: sticky;
    top: 0;
}

.main-buttons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
   
    .content {
        width: 100%;
    }

    .sidebar {
        display: none; 
    }
}