<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_post.css') }}?v=1">

    <title>Crear Publicación</title>
</head>
<body>
    <header>
        <img src="/static/logo.png" alt="Logo" width="50" height="50">
        <h1>ServiWeb - Crear Publicación</h1>
    </header>
    <main>
        <form id="createPostForm" method="post" action="{{ url_for('blog.create_post') }}">
            <label for="Titulo">Título:</label>
            <input type="text" id="Titulo" name="Titulo" required>
            <br>
            <label for="texto">Contenido de la publicación:</label>
            <textarea id="texto" name="texto" required></textarea>
            <br>
            <label for="servicio_id">Tipo de servicio:</label>
            <select id="servicio_id" name="servicio_id">
                <option value="1">Ocio</option>
                <option value="2">Compañia</option>
                <option value="3">Tareas domésticas</option>
            </select>
            <br>
            <label for="termina">Fecha limite de publicacion:</label>
            <input type="datetime-local" id="termina" name="termina" required>
            <br>
            <button type="submit">Crear Publicación</button>
        </form>
    </main>
    <script>
        // Puedes agregar scripts adicionales aquí si es necesario
    </script>
</body>
</html>