<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_post.css') }}?v=1">
    <!-- Incluir Flatpickr desde CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Crear Publicación</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='imagenes/serviweb_isotipo_400x400.png') }}" alt="Logo"class="img-fluid">
        <h1>Crear Publicación</h1>
    </header>
    <main>
        <form id="createPostForm" method="post" action="{{ url_for('blog.create_post') }}">
            <label for="Titulo">Título:</label>
            <input type="text" id="Titulo" name="Titulo" required>
            <br>
            <label for="texto">Contenido de la publicación:</label>
            <textarea id="texto" name="texto" required></textarea>
            <br>
            <label for="servicio_id">Tipo de servicio:</label>
            <select id="servicio_id" name="servicio_id">
                <option value="1">Ocio</option>
                <option value="2">Compañía</option>
                <option value="3">Tareas domésticas</option>
            </select>
            <br>
            <label for="fechas">Fechas y horas:</label>
            <input type="text" id="fechas" name="fechas" data-mode="multiple">
            <p>Selecciona fechas y horas.</p>
            
            <!-- Contenedores para mostrar las horas de inicio y fin -->
            <div id="contenedor_horas_inicio"></div>
            <div id="contenedor_horas_fin"></div>
            
            <button type="submit">Crear Publicación</button>
            
            <script>
                var fechaActual = new Date();
                var fechaActualFormato = fechaActual.toISOString().split('T')[0];

                // Inicializar Flatpickr para fechas y horas
                flatpickr('#fechas', {
                    enableTime: true,
                    dateFormat: 'Y-m-d',
                    mode: 'multiple',
                    time_24hr: true,
                    timeZone: 'UTC',
                    minDate: fechaActualFormato,
                    onClose: function (selectedDates) {
                        mostrarHorasSegunFechas(selectedDates);
                    }
                });

                document.getElementsByClassName('flatpickr-time time24hr')[0].style.visibility = 'hidden';

                // Evento para validar la relación entre horas de inicio y fin
                document.addEventListener('input', function (event) {
                    var inputId = event.target.id;

                    if (inputId.startsWith('hora_inicio')) {
                        var fechaFormatoServidor = inputId.replace('hora_inicio_', '');
                        var horaFinInput = document.getElementById('hora_fin_' + fechaFormatoServidor);

                        if (horaFinInput.value < event.target.value) {
                            alert('La hora de fin no puede ser antes que la hora de inicio.');
                            event.target.value = '';
                        }
                    }
                });

                // Función para mostrar las horas basadas en las fechas seleccionadas
                function mostrarHorasSegunFechas(selectedDates) {
                    var contenedorHorasInicio = document.getElementById('contenedor_horas_inicio');
                    var contenedorHorasFin = document.getElementById('contenedor_horas_fin');
                    contenedorHorasInicio.innerHTML = '';
                    contenedorHorasFin.innerHTML = '';

                    selectedDates.forEach(function (fecha) {
                        var fechaFormatoServidor = fecha.toISOString().split('T')[0];

                        contenedorHorasInicio.innerHTML += `<label for="hora_inicio_${fechaFormatoServidor}">Hora de inicio para ${fechaFormatoServidor}:</label>`;
                        contenedorHorasInicio.innerHTML += `<input type="time" id="hora_inicio_${fechaFormatoServidor}" name="hora_inicio_${fechaFormatoServidor}" required>`;
                        contenedorHorasInicio.innerHTML += '<br>';

                        contenedorHorasFin.innerHTML += `<label for="hora_fin_${fechaFormatoServidor}">Hora de fin para ${fechaFormatoServidor}:</label>`;
                        contenedorHorasFin.innerHTML += `<input type="time" id="hora_fin_${fechaFormatoServidor}" name="hora_fin_${fechaFormatoServidor}" required>`;
                        contenedorHorasFin.innerHTML += '<br>';
                    });
                }
            </script>
        </form>
    </main>
</body>
</html>