<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
   
</head>
<body>
<header>
        
    <img src="{{ url_for('static', filename='imagenes/serviweb_isotipo_400x400.png') }}" alt="Logo"class="img-fluid">
    <h1>Bienvenido</h1>

</header>

    
    <main>
       

            <!-- Botón para redirigir a /perfil -->
            <a href="{{ url_for('perfil.crear_perfil', username=session['username'], userid=session['userid']) }}">
                <button type="button">Rellenar Perfil</button>
            </a>

            <!-- Botón para redirigir a /opciones -->
            <a href="{{ url_for('blog.view_opciones', username=session['username'], userid=session['userid']) }}">
                <button type="button">Visitar Menú</button>
            </a>
        </div>
    </main>
</body>
</html>