<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Mis Publicaciones</title>
</head>
<body>
    <header class="bg-primary text-white p-3">
        <img src="{{ url_for('static', filename='imagenes/serviweb_isotipo_400x400.png') }}" alt="Logo" class="mr-3 float-left img-thumbnail" style="max-width: 50px;">
        <div class="container">
            <h1 class="text-center">Mis Publicaciones </h1>
        </div>
    </header>

    <main class="container mt-4">
        {% if mis_conversaciones|length == 0 %}
            <div class="alert alert-info text-center" role="alert">
                Vacío. No hay publicaciones para mostrar.
            </div>
        {% else %}
            {% for post in mis_conversaciones %}
                {% if post.marcada == 1 %}
                    <div class="card mb-4" data-post-idpost="{{ post.idpost }}">
                        <div class="card-body" style="background-color: {% if post.estado == 'aceptado' or post.estado == 'rechazado' %}lightgreen{% elif post.estado == 'rechazado' %}lightcoral{% endif %}">
                            <h2 class="card-title">{{ post.Titulo }} - {{ post.usuario_id }}</h2>
                            <p class="card-text">{{ post.texto }}</p>
                            <p class="card-text">{% if post.fechas %}{{ post.fechas|replace(', ', '<br>')|safe }}{% endif %}</p>
                        
                            {% if post.servicio_id == '1' %}
                                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_1.jpg') }}" alt="Servicio 1" class="img-fluid">
                            {% elif post.servicio_id == '2' %}
                                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_2.jpg') }}" alt="Servicio 2" class="img-fluid">
                            {% elif post.servicio_id == '3' %}
                                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_3.jpg') }}" alt="Servicio 3" class="img-fluid">
                            {% endif %}
                        
                            <button class="btn btn-primary" id="aceptarBtn" data-post-idpost="{{ post.idpost }}" {% if post.estado == 'aceptado' or post.estado == 'rechazado' %}style="display:none;"{% endif %}>Aceptar</button>
                            <button class="btn btn-danger" id="rechazarBtn" data-post-idpost="{{ post.idpost }}" {% if post.estado == 'aceptado' or post.estado == 'rechazado' %}style="display:none;"{% endif %}>Rechazar</button>
    
                            <!-- Nuevo div para mostrar el mensaje -->
                            <div class="mensaje" id="mensaje-{{ post.idpost }}"></div>
                            <div class="notificacion" id="notificacion-{{ post.idpost }}" style="display: none;">
                                <div class="alert alert-success" role="alert">
                                    Se ha enviado un SMS y un correo de respuesta.
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </main>
    <div class="container mt-4">
        <a class="btn btn-primary" href="javascript:history.go(-1)">Volver</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var aceptarBtns = document.querySelectorAll('#aceptarBtn');
            var rechazarBtns = document.querySelectorAll('#rechazarBtn');

            aceptarBtns.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var card = btn.closest('.card');
                    card.style.backgroundColor = 'lightgreen'; // Cambia el fondo a verde
                    btn.style.display = 'none'; // Oculta el botón Aceptar
                    var rechazarBtn = card.querySelector('#rechazarBtn');
                    rechazarBtn.style.display = 'none'; // Oculta el botón Rechazar
                    localStorage.setItem('estado_' + card.dataset.postIdpost, 'aceptado');
                });
            });

            rechazarBtns.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var card = btn.closest('.card');
                    card.style.backgroundColor = 'lightcoral'; // Cambia el fondo a rojo claro
                    btn.style.display = 'none'; // Oculta el botón Rechazar
                    var aceptarBtn = card.querySelector('#aceptarBtn');
                    aceptarBtn.style.display = 'none'; // Oculta el botón Aceptar
                    localStorage.setItem('estado_' + card.dataset.postIdpost, 'rechazado');
                });
            });
        });

        // Recuperar estados almacenados después de recargar la página
        window.addEventListener('DOMContentLoaded', function () {
            var cards = document.querySelectorAll('.card');
            cards.forEach(function (card) {
                var estado = localStorage.getItem('estado_' + card.dataset.postIdpost);
                if (estado === 'aceptado') {
                    card.style.backgroundColor = 'lightgreen';
                    card.querySelector('#aceptarBtn').style.display = 'none';
                    card.querySelector('#rechazarBtn').style.display = 'none';
                } else if (estado === 'rechazado') {
                    card.style.backgroundColor = 'lightcoral';
                    card.querySelector('#aceptarBtn').style.display = 'none';
                    card.querySelector('#rechazarBtn').style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>