<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiWeb</title>
   </head>
<body>
    <header>
        <img src="/static/logo.png" alt="Logo" width="50" height="50">
        <h1>ServiWeb</h1>
    </header>
    </div>
    <main>
        <button onclick="location.href='/create_post'">Crear Publicación</button>

    
        <button onclick="location.href='/view_post'">Ver Publicaciones</button>
    </main>

</body>
</html>
