<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiWeb</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opciones.css') }}">

   </head>
<body>
    <header>
        <img src="{{ url_for('static', filename='imagenes/serviweb_isotipo_400x400.png') }}" alt="Logo">
        <h1>ServiWeb</h1>
    </header>
    </div>
    <main>
        <button onclick="location.href='/create_post'">Crear Publicación</button>

        <button onclick="location.href='/mis_post'">Mis Publicaciones</button>
        <button onclick="location.href='/view_post'">Ver Publicaciones</button>
    </main>

</body>
</html>
