<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
    <!-- ... (código anterior) ... -->
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='tu-imagen.png') }}" alt="Logo">
        <h1>Publicaciones</h1>
        <!-- Agrega tu botón o contenido adicional en el encabezado si es necesario -->
    </header>

    <main>
        <!-- Formulario de Filtración por usuario_id -->
        <form action="{{ url_for('blog.view_post') }}" method="get" class="filter-form">
            <label for="filtroUsuario">Filtrar por usuario_id:</label>
            <div class="input-container">
                <input type="text" id="filtroUsuario" name="filtroUsuario">
            </div>
            <div class="button-container">
                <div class="filter-buttons">
                    <button type="submit">Filtrar</button>
                    <button type="button" onclick="limpiarFiltro()">Limpiar filtro</button>
                </div>
            </div>
        </form>

        <ul class="ul">
            {% for post in posts %}
                <li>
                    <h2>{{ post.Titulo }} - {{ post.usuario_id }}</h2>
                    <p>{{ post.texto }}</p>
                    <p>Fechas y horas:</p>
                    <ul>
                        {% for fecha_hora_inicio, fecha_hora_fin in post.fechas %}
                            <li>{{ fecha_hora_inicio }} - {{ fecha_hora_fin }}</li>
                        {% endfor %}
                    </ul>
        
                    <!-- Resto del código ... -->
                </li>
            {% endfor %}    
        </ul>
        
        <div class="main-buttons">
            <button onclick="location.href='/opciones'">Volver opciones</button>
            <button onclick="location.href='/create_post'">Crear publicación</button>
        </div>
    </main>

    <script>
        function limpiarFiltro() {
            document.getElementById('filtroUsuario').value = '';
            document.forms[0].submit();
        }

        function marcarConversada(idpost) {
            fetch(`/marcar_conversada/${idpost}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    window.alert(`Se le ha enviado un email a ${data.usuario_id}`);
                    console.log('Publicación marcada como conversada. Nuevo estado: ', data.conversada);
                })
                .catch(error => {
                    console.error('Error al marcar la publicación como conversada:', error);
                });
        }
    </script>
</body>
</html>