<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
    <title>Publicaciones</title>
</head>
<body>
    <h1>Publicaciones</h1>
    <ul>
        {% for post in posts %}
            <h2>{{ post.Titulo }} - {{ post.usuario_id }}</h2>
            <p>{{ post.texto }}</p>
            <p>{{ post.fechas }}</p>
            
            {% if post.servicio_id == '1' %}
                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_1.jpg') }}" alt="Servicio 1">
            {% elif post.servicio_id == '2' %}
                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_2.jpg') }}" alt="Servicio 2">
            {% elif post.servicio_id == '3' %}
                <img src="{{ url_for('static', filename='imagenes/imagen_servicio_3.jpg') }}" alt="Servicio 3">
            {% endif %}
            
            <button onclick="marcarConversada('{{ post.id }}')">Conversar</button>
            <button onclick="location.href='/ver_perfil/{{ post.usuario_id|replace(' ', '%20') }}'">Perfil</button>
        {% endfor %}    
    </ul>
    <button onclick="location.href='/opciones'">Volver opciones</button>
    <button onclick="location.href='/create_post'">Crear publicación</button>

    <script>
        function marcarConversada(idpost) {
            // Envía una solicitud al servidor para marcar la publicación como conversada
            fetch(`/marcar_conversada/${postId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    // Muestra una alerta con el mensaje personalizado
                    window.alert(`Se le ha enviado un email a`, post.usuario_id);
                    // Actualiza la interfaz de usuario según sea necesario
                    console.log('Publicación marcada como conversada. Nuevo estado: ', data.conversada);
                })
                .catch(error => {
                    console.error('Error al marcar la publicación como conversada:', error);
                });
        }
    </script>
</body>
</html>