<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Publicación</title>
</head>
<body>
    <header>
        <img src="/static/logo.png" alt="Logo" width="50" height="50">
        <h1>ServiWeb - Crear Publicación</h1>
    </header>
    <main>
        <form id="createPostForm">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="postContent">Contenido de la publicación:</label>
            <textarea id="postContent" name="postContent" required></textarea>
            <br>
            <label for="postDate">Fecha de publicación:</label>
            <input type="date" id="postDate" name="postDate" required>
            <br>
            <label for="postType">Tipo de servicio:</label>
            <select id="postType" name="postType">
                <option value="social">Ocio</option>
                <option value="medical">Compañia</option>
                <option value="medical">Tareas domesticas</option>
            </select>
            <br>
            <button type="button" onclick="submitForm()">Crear Publicación</button>
        </form>
    </main>
    <script>
        function submitForm() {
            const username = document.getElementById("username").value;
            const postContent = document.getElementById("postContent").value;
            const postDate = document.getElementById("postDate").value;
            const postType = document.getElementById("postType").value;

            const data = {
                username: username,
                content: postContent,
                date: postDate,
                post_type: postType
            };

            fetch("/create-post", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                // Manejar la respuesta del servidor, si es necesario
                console.log(result);
                alert('Publicación creada');
            })
            .catch(error => {
                console.error('Error al crear la publicación:', error);
            });

            alert('Publicación creada');
        }
    </script>
</body>
</html>
