{%extends 'basehtml' %}
{%block header %}
    <h2>{block title %}Publicaciones {end block %}</h2>
{%end block %}

{%block content %}

{%for post in post %}

    <article>
        <header>
            <h1>{{publicación.Titulo }}</h1>
            <div>
                Publicado por {{ get_user(publicación.usuario_id).Id_usuario}}
                el {{publicación.created.strftime('%Y-%m-%d') }}

            </div>
        </header>
        <div> 
            <p>{{publicación.texto}}</p>
        </div>
    </article>
{%end block%}